<html>
<body background="background.jpg" style="background-size:100%;">
<h1 style="color: white">BoschIoT Gateway</h1>
<p style="color: white">
<img src="../static/images/Picture1.png" style="width:30%; height:30%;color: white" />

</p>
<p style="color: white">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	<a href="url" style="color: white">Tomato Greenhouse</a>
</p>
<p> .
	</p>
<p style="color: white">
<img src="../static/images/Picture2.png" style="width:30%; height:30%; color: white"  />

</p>
<p style="color: white">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	<a href="url" style="color: white">Strawberry Greenhouse</a>
</p>

</body>
</html>